:root {
    background-color: #252525;
    color: #b8e6f2;
    font-size: 14px;
    font-family: 'Noto Sans';
    font-weight: normal;
    cursor: crosshair;
}

.harmonics-container {
    background-color: transparent;
    padding: 16px;
    gap: 4px;
}



gain-slider {
    width: auto;
    border-color: #0e0e0e;
    border-width: 1px;
}

gain-slider .bar-container {
    width: 12px;
    background-color: #0e0e0e;
}

gain-slider .gain-bar {
    border-color: #721212;
    color: #0f8c64;
}

gain-slider .dbs-label-container {
    position-type: absolute;
    left: -14px;
    alignment: center;
    width: 40px;
    height: auto;
    background-color: black;
    border: solid 1px white;
    padding-top: 1px;
    z-index: 1;
}

gain-slider .dbs-label {
    font-size: 12px;
}

gain-slider.subharmonic .gain-bar {
    color: #0b4267;
}

gain-slider.tail-harmonics .gain-bar {
    color: #4d0f8c;
}